/* debug */
[class *= "col-"] { 
    background-color: lightskyblue;  
    border: 1px solid black;
}
[class *= "col-"] [class *= "col-"] { 
    background-color: lightgreen;  
    border-color: white;
}

/* common */
.container {
    height: 20vh;
}

[class *= "col-"] > .container { 
    height: 100%;
}

[class *= "col-"] { 
    position: relative;
    padding: 5px;
    min-height: 100%;
}

[class *= "col-"] > span{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
