body {
    background-color: #333;
}

.container {
    width: 896px;
}

[class*="col-"] {
    height: 56px;
}

.white {
    background-color: white;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}

.container > div:nth-child(1),
.container > div:nth-child(5) {
    animation: glitch1 1s 4 alternate ease;
}

.container > div:nth-child(2),
.container > div:nth-child(6) {
    animation: glitch3 1s 4 alternate ease;
}  

.container > div:nth-child(3),
.container > div:nth-child(7) {
    animation: glitch3 1s 4 ease;
}
.container > div:nth-child(4){
    animation: glitch4 1s 4 ease;
}

@keyframes glitch1 {
    0% {
      transform: none;
    }
    7% {
      transform: translate(-20px, -15px);
    }
    10% {
      transform: none;
    }
    27% {
      transform: none;
    }
    30% {
      transform: translate(15px, 10px);
    }
    35% {
      transform: none;
    }
    50% {
        transform: translate(-25px, -15px);
    }
    52% {
        transform: none;
    }
    55% {
        transform: none;
    }
    72% {
      transform: none;
    }
    75% {
      transform: translate(10px, 30px);
    }
    80% {
      transform: none;
    }
    100% {
      transform: none;
    }
}

@keyframes glitch2 {
    0% {
      transform: none;
    }
    7% {
        transform: none;
    }
    10% {
        transform: translate(40px, 30px);
    }
    27% {
      transform: none;
    }
    30% {
        transform: none;
    }
    35% {
        transform: translate(-25px, -60px);
    }
    50% {
        transform: none;
    }
    52% {
        transform: none;
    }
    55% {
        transform: translate(5px, 25px);
    }
    72% {
      transform: none;
    }
    75% {
        transform: none;
    }
    80% {
        transform: translate(-25px, -10px);
    }
    100% {
      transform: none;
    }
}

@keyframes glitch3 {
    0% {
      transform: none;
    }
    7% {
        transform: none;
    }
    10% {
        transform: none;
    }
    27% {
        transform: translate(30px, 20px);
    }
    30% {
        transform: none;
    }
    35% {
        transform: none;
    }
    50% {
        transform: none;
    }
    52% {
        transform: translate(-50px, -20x);
    }
    55% {
        transform: none;
    }
    72% {
        transform: translate(15px, 30px);
    }
    75% {
        transform: none;
    }
    80% {
        transform: none;
    }
    100% {
        transform: translate(-20px, -50px);
    }
}

@keyframes glitch4 {
    0% {
      transform: none;
    }
    7% {
        transform: none;
    }
    10% {
        transform: none;
    }
    27% {
        transform: translate(30px, 20px);
    }
    30% {
        transform: none;
    }
    35% {
        transform: none;
    }
    50% {
        transform: none;
    }
    52% {
        transform: translate(-50px, -20x);
    }
    55% {
        transform: none;
    }
    72% {
        transform: translate(15px, 30px);
    }
    75% {
        transform: none;
    }
    80% {
        transform: none;
    }
    100% {
        transform: translate(-20px, -50px);
    }
}
  